*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* FIXED BACKGROUND */
    background: url("assets/Silent-MC background.png") no-repeat center center fixed;
    background-size: cover;

    color: #ffffff;
}

/* NAVBAR */
.navbar{
position:fixed;
top:0;
width:100%;
padding:15px 60px;
display:flex;
justify-content:space-between;
align-items:center;
background: none;
backdrop-filter:blur(5px);
z-index:100;
}

.logo{
font-size:22px;
font-weight:800;
color: yellow;
}

.logo span{color:#00e5ff;}

nav a{
margin:0 15px;
cursor:pointer;
color:#ccc;
transition:.3s;
}

nav a:hover,
nav a.active{
    color:#00e5ff;
    animation:glow 2s cubic-bezier(1, 0, 0, 1) infinite alternate;
    font: status-bar;
}

.store-btn{
background:#00e5ff;
border:none;
padding:8px 18px;
border-radius:20px;
cursor:pointer;
font-weight:600;
}

/* HERO BACKGROUND */
.hero{
min-height:100vh;
background:url("assets/Silent-MC BG.png") center/cover no-repeat;
position:relative;
display:flex;
align-items:center;
padding:180px 60px 100px 120px;
}

.hero-overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.6);
}

.hero-text{
position:relative;
max-width:1000px;
}

.hero-text h1{
font-size:58px;
line-height:1.1;
text-transform:uppercase;
position:relative;
}

.hero-text h1::after{
content:'';
position:absolute;
left:0;
bottom:-12px;
width:240px;
height:4px;
background:#00e5ff;
box-shadow:0 0 15px #00e5ff;
border-radius:5px;
}

.hero-text span{
color:#00e5ff;
animation:glow 2s infinite alternate;
}

.hero-text p{
margin-top:20px;
opacity:.85;
}

.hero-buttons button{
margin-top:30px;
margin-right:12px;
padding:14px 30px;
border-radius:30px;
border:none;
font-weight:600;
cursor:pointer;
}

.hero-buttons .outline{
background:none;
border:2px solid #00e5ff;
color:#00e5ff;
}

.btn{
    backdrop-filter: blur(5px);
    border: 1px solid #00e5ff;
    border-radius: 15px;
    height: 40px;
    max-width: 150px;
    align-items: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.btn:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #00e5ff;
    color: yellow;
    font-weight: 600;
}

/* HERO LOGO */
.hero-logo img{
width:400px;
filter:drop-shadow(0 0 20px #00e5ff);
position: relative;
}

/* FLOATING EFFECT */
.floating{
animation:float 4s ease-in-out infinite;
padding-left: 700px;
}
@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-15px)}
100%{transform:translateY(0)}
}

.floating1{
animation:float1 6s ease-in-out infinite;
}
@keyframes float1{
0%{transform:translateY(0)}
25%{transform:translateY(15px)}
50%{transform:translateY(-0px)}
75%{transform:translateY(-15px)}
100%{transform:translateY(0)}
}

/* WHY */
.why{
padding:90px 60px;
text-align:center;
background:#000;
align-items: center;
}

.why-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
gap:25px;
margin-top:45px;
}

.why-card{
background:rgba(255,255,255,.08);
padding:5px;
border-radius:18px;
transition:.4s;
border: 1px solid;
align-items: center;
justify-content: center;
}

.why-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00e5ff;
}

.why-card img{
    filter: drop-shadow(0 0 5px #00e5ff);
}

/* STORE BACKGROUND */
.store{
padding:90px 60px;
text-align:center;
background:url("assets/Silent-MC background.png") center/cover no-repeat;
position:relative;
}

.store::before{
content:'';
position:absolute;
inset:0;
background:rgba(0,0,0,.7);
}

.store *{
position:relative;
}

.store-grid{
display:flex;
justify-content:center;
gap:35px;
flex-wrap:wrap;
margin-top:45px;
}

.store-btn{
    backdrop-filter: blur(5px);
    border: 1px solid #00e5ff;
    border-radius: 15px;
    height: 40px;
    max-width: 150px;
    padding: 10px;
    cursor: pointer;
    background: none;
    padding: 10px;
    color: yellow;
    margin-top: 20px;
    margin-left: 50px;
}

.store-btn:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px yellow;
    color: yellow;
    font-weight: 600;
}

.product{
background:rgba(255,255,255,.08);
padding:5px;
width:270px;
border-radius:22px;
transition:.4s;
border: 1px solid yellow;
border-style: ridge;
}

.product img{
width:120px;
margin-bottom:0px;
}

.product:hover{
transform:translateY(-12px);
box-shadow:0 0 30px #00e5ff;
}

.information{
background: rgb(34, 32, 32);
padding:30px;
border-radius:22px;
transition:.4s;
border: antiquewhite;
border: 3px solid rgb(115, 202, 243);
border-style: inset;
}

.information img{
width:120px;
margin-bottom:15px;
}

.information:hover{
box-shadow:0 0 30px #00e5ff;
}

.product button{
padding:12px 22px;
border:none;
border-radius:25px;
background:#00e5ff;
font-weight:600;
cursor:pointer;
}

.payment{
margin-top:40px;
opacity:.85;
}

footer{
padding:20px;
text-align:center;
background:#000;
}

@keyframes glow{
from{ text-shadow:0 0 10px #00e5ff; }
to{ text-shadow:0 0 25px #00e5ff; }
}

